<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Simple Photo Gallery</title>
    {#    <link rel="stylesheet" href="/static/css/blueimp-gallery.min.css">#}
    <link rel='stylesheet' href='/static/css/style.css'>
    <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/south-street/jquery-ui.css"
          id="theme">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

</head>
<body>
{#<div class="container-fluid">#}
{#    ...#}
{#</div>#}
<nav class="navbar navbar-default" role="navigation">
    <p class="navbar-text navbar-right">Selected: <span id="selected-value" class="badge">0</span></p>
    <button type="button" class="btn btn-default navbar-btn navbar-right" id="export-btn">Download selected</button>
</nav>
{% if folder %}
    <ol class="breadcrumb">
        <li><a href="/"><span class="glyphicon glyphicon-home"/></a></li>
        {% for br,brr in breadcrumb %}
            <li><a href="{{ brr }}/">{{ br }}</a></li>
        {% endfor %}
        {#        <li class="active">Data</li>#}
    </ol>
{% endif %}
{% set classs = ['one','two','three'] %}
{% for item in folders %}
    <a href="{{ item }}/">
        <div class='folder{{ rand(classs) }}'>
            <img src="/folder_icon/{{ item }}.jpg"/>

            <div class="desc">{{ item }}</div>
        </div>
    </a>
{% endfor %}
{% if files %}
    {#<a href="javascript:blueimp.Gallery($('#links a'), {})">123</a>#}
    <div id="links">
        {% for item in files %}
            <a href="/{{ folder }}/{{ item }}" title="{{ folder }}/{{ item }}">
                <div class="file">
                    <img src="/th/{{ folder }}/{{ item }}" alt="{{ item }}">

                    <div class="desc">{{ item }}</div>
                </div>
            </a>
        {% endfor %}
    </div>
    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        {#    <ol class="indicator"></ol>#}
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    {#<script src="/static/js/jquery.image-gallery.min.js"></script>#}
    <script>
        function getSelected() {
            var parse = JSON.parse(localStorage.getItem('selected'));
            return  parse || [];
        }
        function updateSelectedCounter() {
            var json = getSelected();
            if (json && json.length && json.length > 0)
                $('#selected-value').text(json.length);
            $('#links a').each(function () {
                $(this).find('div.file').removeClass('selected');
                if ($.inArray($(this).attr('title'), json) >= 0)
                    $(this).find('div.file').addClass('selected')
            });
        }
        function setSelected(json) {
            {#var set = {};
            for (var i = 0; i < json.length; i++)
                set[json[i]] = true;
            json = [];
            for (var j in set)
                json.push(j);#}
            localStorage.setItem('selected', JSON.stringify(json));
            updateSelectedCounter();
        }
        $(function () {
            updateSelectedCounter()
            {#          blueimp.Gallery($('#links a'), {onclosed:function(){#}
            {#              history.back(1);#}
            {#          }});#}
            $('#export-btn').click(function () {
                $.post('/export.zip', {'selected': JSON.stringify(getSelected())},
                        function (response, status, request) {
                            var disp = request.getResponseHeader('Content-Disposition');
                            if (disp && disp.search('attachment') != -1) {
                                var type = request.getResponseHeader('Content-Type');
                                var blob = new Blob([response], { type: type });

                                if (typeof window.navigator.msSaveBlob !== 'undefined') {
                                    // IE workaround for "HTML7007: One or more blob URLs were revoked by closing the blob for which they were created. These URLs will no longer resolve as the data backing the URL has been freed."
                                    window.navigator.msSaveBlob(blob);
                                } else {
                                    var URL = window.URL || window.webkitURL;
                                    var downloadUrl = URL.createObjectURL(blob);
                                    window.location = downloadUrl;
                                }
                            }
                        })
            });
            $('#links a').bind('click', function (e) {
                if (e.ctrlKey) {
                    e.preventDefault();
                    var j = getSelected();
                    if ($.inArray(this.title, j) >= 0)
                        j.splice($.inArray(this.title, j), 1);
                    else
                        j.push(this.title);
                    setSelected(j)
                } else {
                    var options = {index: this, event: event}
                    var links = $('#links a');
                    blueimp.Gallery(links, options);
                }
            });

        })
    </script>
{% endif %}
</body>
</html>